@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
html,body{
    font-family: 'Open Sans',sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    min-width: fit-content;
    height:100%;
    color:white;
}
body{
    overflow: hidden; 
}
.loader {
    position:absolute;
    width: 32px;
    height: 72px;
    display: inline-block;
    left: 50%;
    top:50%;
    z-index: 5;
    /* position: relative; */
    transform-origin: left;
    border: 2px solid #FFF;
    box-sizing: border-box;
    animation: animloader 2s linear forwards alternate;
    color: white;
    border-radius: 0 0 4px 4px;
    transform: perspective(140px) translate(-50%,-50%) rotateX(-45deg);
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 0 0  inset;
    }
    100% {
      box-shadow: 0 -70px inset;
    }
  }
#loader-container{
    width: 100vw;
    height:100vh;
    position: absolute;
    background-color: #181818;
    z-index: 5;
}
.mouse {
    width: 48px;
    height: 78px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 50px;

    border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  }
  .mouse::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    animation: scrollDown 1.5s linear infinite;
  }
  @keyframes scrollDown {
    0% {
      top: 15px;
      height: 4px;
      opacity: 1;
    }
    33% {
      top: 15px;
      height: 40px;
    }
    66% {
      top: 50px;
      height: 10px;
      opacity: 1;
    }
    100% {
      top: 56px;
      height: 4px;
      opacity: 0;
    }
  }
  .mouse-container{
      display: flex;
      flex-direction: column;
  }
section{
/*     width: 100vw; */
    height:100vh;
    background-color: #181818;
}
h3{
    text-align:center;
}
h1{
    text-align:center;
    color:white;
    font-weight: 400;
    display: flex;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
 
}
h1 span{
    position:relative;
}
h1 span::before,h1 span::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}

h1 span::before{
    background-color: #181818;
    animation: slide  steps(33) 4.125s forwards;
    animation-delay: 3000ms;
}
h2{
    color:white;
    font-weight: 400;
    display: flex;
    font-size: 2em;
    align-items: center;
}
h4{
    font-size: 2em;
}
h3{
    font-weight:300;
    font-size:1.4em;
    line-height: 50px;
    margin-bottom: 40px;
}
.index h1 span::after{
    opacity: 0;
    content:"";
    min-height:60px;
    width:2px;
    background-color:white;
    display: inline-block;
    animation: blink 750ms steps(2) infinite,slide steps(33) 4.125s forwards;
    animation-delay: 3000ms;
}
.index{
    position: relative;
    background-size:cover;
    display: flex;
    align-items: center;
    
}
.centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    background-color: #1e61a8;
    padding:10px 12px;
    cursor:pointer;
    border-radius: 20px;
    transition:1s;
}
a:hover{
    background-color: turquoise;
}
#portrait{
    position: absolute;
    left: 0;
    bottom:0;
    object-fit: cover;
    opacity: 0;
    height:90%;
    width:50%;
   z-index: 2;
    animation: fadeIn 3s ease forwards;
    transition: 2s;
   
}
.about{
    background-color: white;
    color:black;
    overflow-y:hidden;
}
#rocket{
    width: 60px;
    height:60px;
    opacity: 0.9;
    animation-delay: 5s;
    position: static;
    animation: shake 0.15s infinite linear;
}
header{
    padding-left:80px;
}
.hero{
    display: flex;
    width: 100%;
   position: absolute;
   justify-content: space-between;
   margin-top:30px;
   padding-right: 20px;
   top:0;
   left:0;
   z-index: 3;
}
.hero header{
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 10px;
}
.menu span{
    padding:0 20px;
    color: grey;
    font-size: 1.2em;
    transition: 0.5s;
    cursor: pointer;
}
.menu span:hover{
    color: white;
}
.frontpage-container{
    width: 100%;
    padding:0 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.projects{
    display: flex;
    justify-content:center ;
    align-items: center;
   
}
.project-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-container{
    display: flex;
    width:auto;
    justify-content: center;
    flex-wrap: wrap;
}
.project-container img,video{
    width: 12em;
    height:12em;
    opacity: 0.8;
    box-shadow: 0 0 30px grey;

}
p{
    max-width: 50%;
    line-height: 27px;
}
.about{
    padding:0 200px;
    display: block;
    z-index: 3;
    background-color:white;
   
}
.subabout{
    min-height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#subabout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%!important;
}
.projects{
    padding: 0 200px;
    padding-bottom: 100px;
    min-height:100vh;
    height:max-content;
}
.projects h4::after{
    margin-left: 40px;
    background-color: white!important;
}
#about-text{
    max-width: 60%;
    height:100%;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
p{
    min-width: 100%;
}
#resume{
    margin: 50px 0;
    width: max-content;
    background-color:#39a857;
    color:white;
    text-decoration: none;
    transition:1s;
}
#resume:hover{

    background-color:#47d46c;

}
.about video{
    border:2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform: scale(1.2);
    object-fit: cover;
}
h4{
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 40px;
    margin-top: 40px;
    padding-top: 40px;
}
h4::before{
    content:'';
    display: inline-block;
    vertical-align: middle;
    min-width: 15px;
    background-color: green;
    min-height:15px;
    margin-right: 20px;
    border-radius: 50%;
    border:2px thin black;
    animation:blink2 1.5s ease-in-out infinite;
    opacity: 0;
}
h4::after{
    content:'';
    display: inline-block;
    position: relative;
    background-color: black;
    width: 70%;
    vertical-align: middle;
    height:2px;
    margin-left: 40px;
}
.sidebar{
    width: 100px;
    z-index: 100;
    display: block;
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    left:0;
    opacity: 0;
   
}
.sidebar div{
    width: 100px;
    margin: 35px 0;
    display: flex;
    justify-content: center;
}
.sidebar img{
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition:0.5s;
}
.sidebar img:hover{
    transform: scale(1.4);
}
#about-text img{
    width:30px;
    height: 30px;
}
#about-text div{
    color:grey;
    display: flex;
    align-items: center;
}
#about-text div span{
    padding-left: 20px;
}
.mini-container a {
    background-color: transparent;
    padding:0;
    margin:0;
    line-height: 0;
    border-radius: 0;
    transition:500ms;
}
.mini-container a:hover{
    z-index: 1000;
    transform: scale(1.1);
    outline:2px solid white;
}
#contact{
    min-height: 100vh;
    position: relative;
    background-color: white;
    padding:0 200px;
    height:100vh;
}
.about-big-container{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h4{
    color:black;
}
#contact h4::after{
    margin-left: 40px;
}
.info p{
    color: black !important;
    max-width: 500px;
}
/* .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height:90%;
} */
form{
    width: 40%;
}
form input{
    width: 100%;
    height:40px;
    border-radius: 20px;
    padding-left: 10px;
    margin:10px 0;
}
form button{
    border-radius: 20px;
    background-color:#1e61a8 ;
    border: none;
    color:white;
    padding:10px 20px;
    cursor: pointer;
    transition:0.5s;
}
button img{
    width:15px;
    height:15px;
    vertical-align: middle;
    margin-left: 5px;
}
form button:hover{
    background-color: turquoise;
}
form div{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 1.5em;
}
#message-title{
    margin-bottom: 10px;
}
#message{
    display: flex;
    padding-bottom:160px;
    padding-top: 20px;
}
#attribute{
    position:absolute;
    bottom:0;
    color:grey;
    background-color: transparent;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
}
.subinfo{
    color:black;
    margin:20px 0;
    align-items: center;
}
.subsubinfo{
    display: flex;
   
}
.subsubinfo img{
   height:100%
}
.subinfo div{
    padding-left: 20px;
    font-size: 1.3em;
}
.subinfo img{
    width: 30px;
    height:30px;
    margin-top:4px;
}
.subinfo span{
    padding-left:70px;
    color:#1e61a8;
}
.subinfo span a{
    background-color: transparent;
    text-decoration: none;
    color:#1e61a8;
    padding-left: 0;
}
#particles-js{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    bottom:0;
    right: 0;

}
@keyframes blink2 {
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
    
}
@keyframes shake{
    from{
        transform:translateY(0)
    }
    to{
        transform: translateY(4px);
    }
}
@keyframes launch {
    from{
        transform:translateY(1000px)
    }    
    to{
        transform: translateY(-1000px);
    }

}
@keyframes fadeIn{
    to {
        opacity: 0.8;
    }
}
@keyframes slide {
    to{
        left:100%;
    }
}
@keyframes blink{
    to{
        opacity: 1;
    }
}
@media (max-width:1400px){
    .about{
        height:100vh;
        padding-right:80px!important;
    }
    section{
        padding:0 100px!important;
        
    }
    .about video{
        width:250px;
        height:250px;
    }
    .about p,.about div{
        font-size: 0.7em;
    }
    .about p{
        line-height: 50px;
        font-size: 2em;
   
    }
   
}
@media (max-width:1060px){
    p{
        max-width: 20%;
    }
    #portrait{
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .info{
        display: block;
    }
    form{
        margin:auto;
        margin-top: 100px;
    }
}

@media(max-width:700px){
    .subabout{
        height: 100% !important;;
    }
    section{
        height: 100vh !important;;
    }
}

@media(min-width:1845px){
    .frontpage-container h1{
        font-size: 3.5em;
    }
    .frontpage-container h3{
        text-align: center;
        font-size: 1.5em;
    }
    .centerdiv a {
        font-size: 2em;
        padding:15px 20px;
        border-radius: 40px;
    }
    .hero span{
        font-size: 2em;
    }
    .hero header{
        font-size: 4em;
    }
    .subabout{
        justify-content: space-around;
    }
    .subabout p{
        font-size: 1.9em;
        line-height: 60px;
    }
    .sidebar img{
        width:50px;
        height:50px;
    }
    .projects img,.projects video{
        width: 300px;
        height:300px
    }
    .info p{
        font-size: 1.6em;
        line-height: 40px;
    }
}
